.button {
    display: flex;
    justify-content: center;
}

.new-inquiry {
    width: 165px;
    height: 38px;
    border: 1px solid #66D1C6;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #66D1C6;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}
